.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.imgLol {
    border-radius: 120px;
    width: 120px;
}


.title {
    width: 100%;
    color: rgb(46, 46, 46);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.name {
    font-weight: bold;
    width: 100%;
    font-size: 28px;
}
