.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.ButtonNavigation {
    margin-top: 20px;
    width: 200px;

    padding: 10px 16px;
    background-color: #8305eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.ButtonNavigation:hover {
    background-color: #2b013f;
}

.teste {
    background-color: #e1aafa;
}