.page {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.container {
    max-width: 900px;
    text-align: center;
}

.titulo {
    font-size: 2rem;
}
.conteudo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links__subtitulo {
    font-family: var(--fonte-primaria);
    width: 500px;
    font-size: 1.5rem;
}
.apresentacao__imagem {
    width: 300px;
    border-radius: 12px;
    object-fit: cover;
}

.links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.links__navegacao:hover {
    background-color: var(--cor-hover);
}

@media (max-width: 1200px) {
    .conteudo {
        width: auto;
    }
}

@media (max-width: 800px) {
    .links {
        flex-direction: column;
    }
}
