.Form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 500px;
    margin: 0 auto;
}

.Resume {
    margin-top: 30px;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: flex;
    flex-direction: column;
}

.select {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox {
    color: #05343a;
}

.RouterButton {
    position: fixed;
    top: 16px;
    left: 16px;

    padding: 10px 16px;
    background-color: #8305eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.RouterButton:hover {
    background-color: #2b013f;
}
